        <section id="home-content"><!-- Start Home Content -->

            <div class="slider-content drop-shadow lifted"><!-- Start Slide Content -->
                    
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item"><%= image_tag("slide/img-1.jpg", :alt => "rss feed") %></div>
                        <div class="item"><%= image_tag("slide/img-1.jpg", :alt => "rss feed") %></div>
                        <div class="item"><%= image_tag("slide/img-1.jpg", :alt => "rss feed") %></div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            
            </div><!-- End Slide Content -->
            
        </section>
        
        <div class="h-title">
            <h2 class="one"><span>News</span></h2>
        </div>
        
        <ul class="thumbnails">
            
            <li class="box span3">
                <div class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
                <h5>Thumbnail label</h5>
                <p>Thumbnail caption right here...</p>
                </div>
            </li>

            <li class="box span3">
                <div class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
                <h5>Thumbnail label</h5>
                <p>Thumbnail caption right here...</p>
                </div>
            </li>

            <li class="box span3">
                <div class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
                <h5>Thumbnail label</h5>
                <p>Thumbnail caption right here...</p>
                </div>
            </li>

            <li class="box span3">
                <div class="thumbnail">
                <img src="http://placehold.it/260x180" alt="">
                <h5>Thumbnail label</h5>
                <p>Thumbnail caption right here...</p>
                </div>
            </li>

        </ul>

