// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-family: 'Magneto';
font-weight: bold;
line-height: 1;
color: white;
text-rendering: optimizelegibility;
}

.table th, .table td {
line-height: 20px;
text-align: left;
color: red;
}