<h2>Prossimi live 2012 - 2013</h2>

<table class="table table-hover">
  <thead>
    <th>Data</th>
    <th>Luogo</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  </tr>
<tbody>
<% Gig.find(:all, :order => "data", :conditions => ['data >= ?', Date.today]) do |gig| %>
  <tr>
    <td><%= gig.data %></td>
    <td><%= gig.luogo %></td>
    <td><%= gig.note %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
