<h1>Listing gigs</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Luogo</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gigs.each do |gig| %>
  <tr>
    <td><%= gig.data %></td>
    <td><%= gig.luogo %></td>
    <td><%= gig.note %></td>
  </tr>
<% end %>
</table>

<br />
