<h1>Listing gigs</h1>

<table class="table table-hover">
  <thead>
    <th>Data</th>
    <th>Luogo</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  </tr>
<tbody>
<% @gigs.each do |gig| %>
  <tr>
    <td><%= gig.data %></td>
    <td><%= gig.luogo %></td>
    <td><%= gig.note %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
